:root {
  --ash-gray: #cad2c5;
  --dark-sea-green: #84a98c;
  --hookers-green: #52796f;
  --dark-slate-gray: #354f52;
  --charcoal: #2f3e46;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
